<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="conexionBD"
            connectionString="server=localhost;user id=root;password=root;persistsecurityinfo=True;database=cementerio"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <appSettings>
      <add key="IVA" value="12"/>
      <add key="AÑOS" value="5"/>
    </appSettings>
</configuration>